a {
  justify-self: end;
}
.logo-img {
  height: 3rem;
}
.header-components {
  padding-block: 2rem;
  background-color: #eee;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 60% 20%;
}
