a {
  justify-self: end;
}
.logo-img {
  height: 3rem;
}
.header-components {
  padding-block: 2rem;
  background-color: #eee;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 60% 20%;
}
.sort-toolbar {
  display: flex;
  padding-block: 1rem;
  background-color: #eee;
  justify-content: center;
}
ul {
  display: flex;
}
li {
  list-style: none;
  padding-inline: 2rem;
  cursor: pointer;
  &:not(:last-of-type):hover {
    font-weight: bold;
  }
}
input {
  border: none;
  outline: none;
  height: 1.5rem;
  width: 15rem;
}
