<div class="container">
  <form [formGroup]="newCardForm" (ngSubmit)="onFormSubmit()">
    <h2 class="form-title">Create a new card</h2>
    <div class="input-field">
      <label for="">Title*</label>
      <input type="text" formControlName='title' id="title">
      <div
        class="invalid-hint"
        [class.modal-active]="displayModal('title')"
      >
        <p *ngIf="checkFormFields('title') === 'required'">Please enter a title</p>
        <p *ngIf="checkFormFields('title') === 'short'">A title should be at least 3 characters long</p>
        <p *ngIf="checkFormFields('title') === 'long'">A title should be no longer than 20 characters</p>
      </div>
    </div>
    <div class="input-field">
      <label for="description">Description</label>
      <input type="text" formControlName='description' id="description">
      <div
        class="invalid-hint"
        [class.modal-active]="displayModal('description')"
      >
        <p *ngIf="checkFormFields('description') === 'long'">A description shouldn't be longer than 255 characters</p>
      </div>
    </div>
    <div class="input-field">
      <label for="img-url">Image URL*</label>
      <input type="text" formControlName='imgUrl' id="img-url">
      <div
        class="invalid-hint"
        [class.modal-active]="displayModal('imgUrl')"
      >
        <p *ngIf="checkFormFields('imgUrl') === 'required'">Please enter an image URL</p>
        <p *ngIf="checkFormFields('imgUrl') === 'invalid'">Please enter a valid image URL (i.e. https://www.example.com)</p>
      </div>
    </div>
    <div class="input-field">
      <label for="video-url">Video URL*</label>
      <input type="text" formControlName='videoUrl' id="video-url">
      <div
        class="invalid-hint"
        [class.modal-active]="displayModal('videoUrl')"
      >
        <p *ngIf="checkFormFields('videoUrl') === 'required'">Please enter a video URL</p>
        <p *ngIf="checkFormFields('videoUrl') === 'invalid'">Please enter a valid video URL (i.e. https://www.example.com)</p>
      </div>
    </div>
    <div class="input-field">
      <label for="date">Date created*</label>
      <input type="date" formControlName='date' id="date">
      <div
        class="invalid-hint"
        [class.modal-active]="displayModal('date')"
      >
        <p *ngIf="checkFormFields('date') === 'required'">Please enter a creation date</p>
        <p *ngIf="checkFormFields('date') === 'future'">Creation date cannot be in the future</p>
      </div>
    </div>
    <p class='legend'>Fields marked by * are required</p>
    <button>Submit</button>
    <div class="alert success-alert" *ngIf="formIsValid === 'true'">Form succesfully submitted!</div>
    <div class="alert failure-alert" *ngIf="formIsValid === 'false'">Check your errors and try again!</div>
    </form>
</div>
