.container {
  background-color: #eee;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  height: 90vh;
}
h2 {
  margin-bottom: 3rem;
}
form {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 1rem;
  margin: auto;
  margin-top: 5vh;
  padding: 2rem;
  width: 40%;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  position: relative;

.invalid-hint {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0px;
  transform: translateY(calc(100% + 5px));
  opacity: 0;
  transition: opacity 0.5s ease-in;
  p {
    color: #fff;
  }
}
.modal-active {
  opacity: 1;
}
}
input {
  font: inherit;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px #ccc solid;
  font-size: 0.75rem;
  outline: none;
  background-color: #fff;
}
label {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
button {
  background-color: #fe2311;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid #9d180c;
  border-right: 2px solid #9d180c;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  margin-left: auto;
  &:hover {
    border: none;
    border-top: 2px solid #ffa59c;
    border-left: 2px solid #ffa59c;
  }
}
input.ng-touched.ng-invalid {
  border: 1px red solid;
}
input.ng-touched.ng-valid {
  border: 1px #56ac50 solid;
}
.legend {
  font-size: 0.8rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
