.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  background-color: #333;
  border: 2px solid #666;
  border-radius: 5px;
  color: #fff;
  height: 2.5rem;
  outline: none;
  padding: 0.5rem;
  width: min(50vw, 45rem);
}

form {
  margin-left: 1rem;
}

.filter-img {
  height: 2.5rem;
  background-color: #fe2311;
  padding: 0.25rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  &:hover {
    background-color: #cc2515;
  }
}
@media screen and (max-width: 950px) {
  input {
    justify-content: center;
    width: 85vw;
  }

  form {
    margin-left: 0;
  }
}
