<div class='container'>
  <form [formGroup]="newUserForm" (ngSubmit)="onSubmitForm()">
    <h2 class='form-title'>Register a new account</h2>
    <div class='input-field'>
      <label for='username'>Email address</label>
      <input type='text' formControlName='email' id='email'>
      <div
        class='invalid-hint'
        [class.modal-active]="displayErrorMessage('email')"
      >
        <p *ngIf="hasError('email', 'required')">Please enter an email address</p>
        <p *ngIf="hasError('email', 'pattern')">Please enter a valid email address</p>
      </div>
    </div>
    <div class='input-field'>
      <label for='password'>Password</label>
      <input type='password' formControlName='password' id='password'>
      <div
        class='invalid-hint'
        [class.modal-active]="displayErrorMessage('password')"
      >
        <p *ngIf="hasError('password', 'required')">Please enter a password</p>
        <p *ngIf="hasError('password', 'notStrong')">
          Password is not strong enough.<br>
          Strong password consists of: <br>
          ⚬ at least 8 characters<br>
          ⚬ a mixture of both uppercase and lowercase letters<br>
          ⚬ a mixture of letters and numbers<br>
          ⚬ inclusion of at least one special character, e.g., ! @ # ? ]
        </p>
      </div>
    </div>
    <div class='input-field'>
      <label for='confirm'>Confirm password</label>
      <input type='password' formControlName='confirm' id='confirm'>
      <div
        class='invalid-hint'
        [class.modal-active]="displayErrorMessage('confirm')"
      >
        <p *ngIf="hasError('confirm', 'required')">Please confirm your password</p>
        <p *ngIf="hasError('confirm', 'noMatch')">Your passwords does not match</p>
      </div>
    </div>
    <button>sign up!</button>
    <div class="alert success-alert" *ngIf="formIsValid === 'true'">Form succesfully submitted!</div>
    <div class="alert failure-alert" *ngIf="formIsValid === 'false'">Check your errors and try again!</div>
  </form>
</div>
