.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}
img {
  height: 2rem;
  margin-left: 1rem;
}
p {
  font-size: 1.25rem;
}
button {
  margin-left: 0;
}
@media screen and (max-width: 950px) {
  .user-info {
    justify-content: end;
  }
}
