.user-info {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 1rem;
}
img {
  height: 2rem;
  margin-left: 1rem;
}
p {
  font-size: 1.25rem;
}
.sign_button {
  padding: 0.5rem;
  background: #fe2311;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  border: #9c0d00 1px solid;
  border-radius: 0.5rem;
  outline: none;
  &:hover {
    background: #fff;
    border: #fe2311 1px solid;
    color: #fe2311;
  }
}
