<div class='container'>
  <form (ngSubmit)='onSubmit()'>
    <div class='input-field'>
      <label for='username'>Username</label>
      <input type='text' [(ngModel)]='username' id='username' name='username' />
    </div>
    <div class='input-field'>
      <label for='password'>Password</label>
      <input type='password' [(ngModel)]='password' id='password' name='password' />
    </div>
    <button>Login</button>
    <a routerLink='/signup'>click here to create a new account</a>
  </form>
</div>
