.container {
  background-color: #eee;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  height: 85vh;
}

form {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 1rem;
  margin: auto;
  margin-top: 10vh;
  padding: 2rem;
  width: 40%;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  position: relative;

  .invalid-hint {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 0.75rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 0px;
    transform: translateY(calc(100% + 5px));
    opacity: 0;
    transition: opacity 0.5s ease-in;
    p {
      color: #fff;
    }
  }
}

input[type=text],
input[type=password] {
  font: inherit;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px #ccc solid;
  font-size: 0.75rem;
  outline: none;
  background-color: #fff;
}

label {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

a {
  color: #666;
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  margin-block: 2rem 1rem;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 0.35rem;
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scaleX(1.05);
  }
}
