.sort-toolbar {
  color: #eee;
  font-size: 0.8rem;
  display: flex;
  padding-block: 1rem;
  background-color: #404040;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
}
li {
  list-style: none;
  padding-inline: 2rem;
  cursor: pointer;
  &:not(:last-of-type):hover {
    font-weight: bold;
  }
}
input {
  border: none;
  outline: none;
  height: 1.5rem;
  width: 15rem;
}
