<div class="wrapper">
  <button class='return' (click)='goBack()'><</button>
  <img [src]="selectedVideo[0].snippet.thumbnails.maxres.url" alt="video thumbnail" class='video-preview'>
  <div class="textbox">
    <div class="headline">
      <p class="headline__title">{{ selectedVideo[0].snippet.title }}</p>
      <p class="headline__date">{{ getParsedDate() }}</p>
    </div>
    <p class="description__title">Description:</p>
    <p class="description">{{ selectedVideo[0].snippet.description }}</p>
    <div class="statistics">
      <span>1000</span>
      <span>640</span>
      <span>320</span>
      <span>240</span>
    </div>
  </div>
</div>
